.Button {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  flex: 1;
  flex-basis: auto;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
}

.Button:hover {
  filter: brightness(120%);
}

.Button:focus,
.Button:active {
  outline-width: 0;
}

.Button-large {
  font-weight: 800;
  font-size: 1.2rem;
  padding: 16px;
}

.Button-primary {
  background-color: #FAFAFA;
  color: #212121;
}

.Button-secondary {
  background-color: #212121;
  color: #FAFAFA;
}

.Button svg {
  margin-bottom: -3px;
}

@media only screen and (min-width: 350px) {
  .Button-large {
    padding: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .Button {
    min-width: 80px;
    max-height: 80px;
  }
}