.card-container {
  padding: 16px;
  margin-left: 80px;
}

.horizontal-line {
  background-color: rgba(255, 47, 0, 0.8);
  height: 1em;
  width: 5em;
}

.title {
  font-size: 4.5em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.description {
  font-size: 1.4rem;
  margin-right: 20vw;
  margin-top: 5vw;
  line-height: 2rem;
}

.description-long {
  margin-right: 2vw;
}

.footer {
  margin-top: 3vw;
  margin-bottom: 3vw;
}


@media only screen and (min-width: 200px) and (max-width: 479px) {
  .card-container {
    margin-left: 0;
  }

  .horizontal-line {
    height: 0.5em;
    width: 3em;
    margin-left: 0;
  }

  .title {
    font-size: 2em;
  }

  .description {
    font-size: 1.1rem;
    margin-right: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    font-size: 3em;
  }

  .card-container {
    margin-left: 0;
  }

  .horizontal-line {
    height: 0.5em;
    width: 3em;
    margin-left: 0;
  }

  .description {
    font-size: 1.1rem;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-container {
    margin-left: 0;
  }

  .horizontal-line {
    height: 0.5em;
    width: 3em;
    margin-left: 0;
  }

  .title {
    font-size: 4em;
  }

  .description {
    font-size: 1.4rem;
    margin-right: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .card-container {
    margin-left: 0;
  }

  .title {
    font-size: 3em;
  }

  .description {
    font-size: 1.4rem;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1200px) {
  .horizontal-line {
    margin-left: -6vw;
  }

  .description {
    margin-top: 2vw;
  }
  
  .footer {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}