.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000;
  height: 140px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.cbp-af-header .logo,
.cbp-af-header nav {
  display: inline-block;
  position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header .logo,
.cbp-af-header nav a {
  line-height: 140px;
  text-decoration: none;
}

.cbp-af-header .logo {
  text-transform: uppercase;
  color: rgba(255, 47, 0, 0.8);
  letter-spacing: 4px;
  font-size: 4em;
  margin: 0;
  float: left;
}

.cbp-af-header nav {
  float: right;
}

.cbp-af-header nav a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  margin: 0 0 0 20px;
  font-size: 1.4em;
  position: relative;
  cursor: pointer;
}

.cbp-af-header nav a:hover {
  color: rgba(255, 47, 0, 0.8);
}

.cbp-af-header nav a:after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    right: 0;
    background: rgba(255, 47, 0, 0.8);
    opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity ease 0.6s,width ease 0.6s;
    -ms-transition: opacity ease 0.6s,width ease 0.6s;
    transition: opacity ease 0.6s,width ease 0.6s;
}

.cbp-af-header nav a:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}

/* Transitions and class for reduced height */
.cbp-af-header .logo,
.cbp-af-header nav a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
  height: auto;
}

.cbp-af-header.cbp-af-header-shrink .logo,
.cbp-af-header.cbp-af-header-shrink nav a {
  line-height: 70px;
}

.cbp-af-header.cbp-af-header-shrink .logo {
  font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
  
  .cbp-af-header .cbp-af-inner {
    width: 100%;
    padding: 0;
  }

  .cbp-af-header .logo,
  .cbp-af-header nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .cbp-af-header .logo,
  .cbp-af-header nav a {
    line-height: 70px;
  }

  .cbp-af-header .logo {
    font-size: 3em;
  }

  .cbp-af-header nav a {
    margin: 0 10px;
  }

  .cbp-af-header.cbp-af-header-shrink .logo,
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 45px;
  }

  .cbp-af-header.cbp-af-header-shrink .logo {
    font-size: 2em;
    display: none;
  }

  .cbp-af-header.cbp-af-header-shrink nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 32.25em) {
  .cbp-af-header nav a {
    font-size: 1em;
  }
}