.spotlight {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  // box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);

  &:before {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .content {
    opacity: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,.90);
    color: #fff;
    border-style: solid;
    border-color: rgba(255, 47, 0, 0.8);
    border-width: 0;
  }

  &.top,
  &.bottom {
    .content {
      left: 0;
      width: 100%;
    }
  }

  &.top {
    .content {
      border-bottom-width: 0.35em;
      top: 0;
    }
  }

  &.bottom {
    .content {
      border-top-width: 0.35em;
      bottom: 0;
    }
  }

  &.left,
  &.right {
    .content {
      height: 101%;
      top: 0;
      width: 28em;
    }
  }

  &.left {
    .content {
      border-right-width: 0.35em;
      left: 0;
    }
  }

  &.right {
    .content {
      border-left-width: 0.35em;
      right: 0;
    }
  }
}
